<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Trek_Firebase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D09A8BA1E86E2ED00DBF6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D09A8CE1E86E2ED00DBF6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D09A8D91E86E2ED00DBF6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
